# Auto detect text files and perform LF normalization
* text=auto

# JS/TS files
*.js text
*.jsx text
*.ts text
*.tsx text

# Documentation
*.md text
*.txt text

# Configs
*.json text
*.yml text
*.yaml text
*.toml text

# Graphics
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg text

# Fonts
*.ttf binary
*.woff binary
*.woff2 binary
*.eot binary

# Archives
*.zip binary
*.tar.gz binary
*.tgz binary 